.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.728000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.042000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-6.042013px;}
._4{margin-left:-3.439295px;}
._1{margin-left:-1.752059px;}
._2{width:1.756747px;}
._3{width:2.765437px;}
.fc0{color:rgb(39,68,113);}
.fs2{font-size:83.999997px;}
.fs1{font-size:95.849999px;}
.fs3{font-size:121.254992px;}
.fs0{font-size:171.839990px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.000015px;}
.ya{bottom:266.991590px;}
.y9{bottom:301.612135px;}
.yb{bottom:385.617411px;}
.yc{bottom:484.269479px;}
.yd{bottom:581.776027px;}
.ye{bottom:680.480012px;}
.y8{bottom:773.389600px;}
.y7{bottom:802.639599px;}
.y6{bottom:831.889597px;}
.y5{bottom:861.139596px;}
.y4{bottom:890.389595px;}
.y3{bottom:1042.715993px;}
.y2{bottom:1075.772797px;}
.h5{height:70.727997px;}
.h4{height:80.705699px;}
.h6{height:102.096704px;}
.h3{height:122.693753px;}
.h2{height:1439.999920px;}
.h0{height:1439.999935px;}
.h1{height:1440.000000px;}
.w1{width:809.999966px;}
.w0{width:810.000000px;}
.x0{left:0.000000px;}
.x3{left:80.999997px;}
.x6{left:137.244676px;}
.x4{left:220.652261px;}
.x5{left:233.539017px;}
.x1{left:322.879382px;}
.x2{left:330.208990px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-8.056017pt;}
._4{margin-left:-4.585726pt;}
._1{margin-left:-2.336079pt;}
._2{width:2.342330pt;}
._3{width:3.687250pt;}
.fs2{font-size:111.999995pt;}
.fs1{font-size:127.799999pt;}
.fs3{font-size:161.673323pt;}
.fs0{font-size:229.119986pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.000020pt;}
.ya{bottom:355.988787pt;}
.y9{bottom:402.149513pt;}
.yb{bottom:514.156548pt;}
.yc{bottom:645.692639pt;}
.yd{bottom:775.701369pt;}
.ye{bottom:907.306682pt;}
.y8{bottom:1031.186133pt;}
.y7{bottom:1070.186131pt;}
.y6{bottom:1109.186130pt;}
.y5{bottom:1148.186128pt;}
.y4{bottom:1187.186127pt;}
.y3{bottom:1390.287990pt;}
.y2{bottom:1434.363729pt;}
.h5{height:94.303996pt;}
.h4{height:107.607599pt;}
.h6{height:136.128938pt;}
.h3{height:163.591670pt;}
.h2{height:1919.999893pt;}
.h0{height:1919.999913pt;}
.h1{height:1920.000000pt;}
.w1{width:1079.999955pt;}
.w0{width:1080.000000pt;}
.x0{left:0.000000pt;}
.x3{left:107.999996pt;}
.x6{left:182.992901pt;}
.x4{left:294.203015pt;}
.x5{left:311.385357pt;}
.x1{left:430.505843pt;}
.x2{left:440.278653pt;}
}
